@font-face
{
    font-family: Magic;
    src: url('fonts/Goudy Medieval.ttf');
}

@font-face
{
    font-family: Matrix;
    src: url('fonts/Matrix Bold.ttf');
}

@font-face
{
    font-family: MPlantin;
    src: url('fonts/MPlantin.ttf');
}

body, td
{
    font-family: Helvetica;
    font-size: 22pt;
}

html, body
{
    height: 100%;
}

.img_center
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.td_circle
{
    width:393px;
    height:400px;
    background-image: url('images/Card_Circles.png');
    background-repeat:no-repeat;
    background-size:393px 400px;
}

.th_player, .th_rank
{
	font-family: Magic;
    font-size: 26pt;
    color: #ffffff;
}

.td_player, .td_rank
{
	font-family: Magic;
    font-size: 22pt;
    color: #ffffff;
}

.td_score
{
    font-family: Magic;
    font-size: 20pt;
    color: #ffffff;
    text-align: right;
}

.td_totalCMC
{
	font-family: Magic;
    font-size: 22pt;
    color: #ffffff;
    text-align: right;
}

.cardNamePreEightEdition
{
    font-family: Magic;
    font-size: 38pt;
}

.cardNameEightEdition
{
    font-family: Matrix;
    font-size: 38pt;
}

.cardNameMagic2015
{
    font-family: Beleren;
    font-size: 38pt;
}

.detailHeader
{
    font-family: Helvetica;
    font-size: 22pt;
    font-weight: bold;
}

.detailHeaderSmall
{
    font-family: Helvetica;
    font-size: 20pt;
    color: silver;
}

.detailTextSmall
{
    font-family: Helvetica;
    font-size: 20pt;
}

.originalType
{
    font-family : MPlantin;
    font-size: 26pt;
}

.originalText
{
    font-family : MPlantin;
    font-size: 28pt;
}

.flavorText
{
    font-family : "Times New Roman";
    font-style: italic;
    font-size: 28pt;
}

.textBox
{
    padding: 20px;
    width: 100%;
    border: 1px solid gray;
}

.powerToughness
{
    font-family : MPlantin;
    font-size: 24pt;
    text-align: right;
}
