<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Keyword</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>searchKeywordName</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Text</string>
			<key>Key</key>
			<string>searchKeywordText</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Flavor</string>
			<key>Key</key>
			<string>searchKeywordFlavor</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Boolean</string>
			<key>Key</key>
			<string>searchKeywordBoolean</string>
			<key>DefaultValue</key>
			<string>or</string>
			<key>Values</key>
			<array>
				<string>and</string>
				<string>or</string>
			</array>
			<key>Titles</key>
			<array>
				<string>And</string>
				<string>Or</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Not</string>
			<key>Key</key>
			<string>searchKeywordNot</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Match</string>
			<key>Key</key>
			<string>searchKeywordMatch</string>
			<key>DefaultValue</key>
			<string>contains</string>
			<key>Values</key>
			<array>
				<string>begins</string>
				<string>contains</string>
				<string>exact</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Begins</string>
				<string>Contains</string>
				<string>Exact</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Other Filters</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdvancedSearchColor</string>
			<key>Title</key>
			<string>Color</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdvancedSearchType</string>
			<key>Title</key>
			<string>Type</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdvancedSearchFormat</string>
			<key>Title</key>
			<string>Format</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKSegueIdentifier</key>
			<string>customSettingsSegue</string>
			<key>Title</key>
			<string>Custom Subview (via Storyboard Segue)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
