<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Keyword</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>searchKeywordName</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Text</string>
			<key>Key</key>
			<string>searchKeywordText</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Flavor</string>
			<key>Key</key>
			<string>searchKeywordFlavor</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>File</key>
			<string>AdvancedSearchKeyword</string>
			<key>Title</key>
			<string>Advance</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Black</string>
			<key>Key</key>
			<string>searchColorBlack</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-B</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Blue</string>
			<key>Key</key>
			<string>searchColorBlue</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-U</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Green</string>
			<key>Key</key>
			<string>searchColorGreen</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-G</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Red</string>
			<key>Key</key>
			<string>searchColorRed</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-R</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>White</string>
			<key>Key</key>
			<string>searchColorWhite</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-W</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Colorless</string>
			<key>Key</key>
			<string>searchColorColorless</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKCellImage</key>
			<string>mana-C</string>
		</dict>
		<dict>
			<key>File</key>
			<string>AdvancedSearchColor</string>
			<key>Title</key>
			<string>Advance</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
