<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Sort By</string>
			<key>Key</key>
			<string>setSortBy</string>
			<key>DefaultValue</key>
			<string>name</string>
			<key>Values</key>
			<array>
				<string>name</string>
				<string>numberOrder</string>
				<string>typeSection</string>
				<string>rarity_.name</string>
				<string>artist_.name</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Name</string>
				<string>Number</string>
				<string>Type</string>
				<string>Rarity</string>
				<string>Artist</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Order By</string>
			<key>Key</key>
			<string>setOrderBy</string>
			<key>DefaultValue</key>
			<true/>
			<key>Values</key>
			<array>
				<true/>
				<false/>
			</array>
			<key>Titles</key>
			<array>
				<string>Ascending</string>
				<string>Descending</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Display By</string>
			<key>Key</key>
			<string>setDisplayBy</string>
			<key>DefaultValue</key>
			<string>list</string>
			<key>Values</key>
			<array>
				<string>list</string>
				<string>grid</string>
			</array>
			<key>Titles</key>
			<array>
				<string>List</string>
				<string>Grid</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
